label.required:after {
  /* Match bootstrap's red */
  color: #e32;
  content: ' \25A0';
  vertical-align: super;
}

/** Bootstrap Overrides **/

#modal form {
  /* Disable form margins inside the modal container so
   * that we don't get unwanted whitespace
   */
  margin: 0;
}
