/**
 * Interactive editor style directives.
 *
 * Conventions in this file:
 *  - Containers only define widths and top/bottom padding/margin
 *
 * Themes used:
 *  - http://colorschemedesigner.com/#1T11T3xw0w0w0
 *  - http://colorschemedesigner.com/#3z11TsOsOK-K-
 *
 */

/*******************************************************************************
 * PLONE OVERRIDES
 ******************************************************************************/

/* Re-style Plone's error messages to stand out a little more */
#occams-form-editor .fieldErrorBox .error {
    color: red;
    font-weight: bold;
}

/*******************************************************************************
 * JQUERY OVERRIDES
 ******************************************************************************/
 
#occams-form-editor .ui-sortable-placeholder { 
	border: 0.2em dotted red; 
	visibility: visible !important;  
}
    
#occams-form-editor .ui-sortable-placeholder * { 
	visibility: hidden; 
}

/*******************************************************************************
 * MAIN LAYOUT
 ******************************************************************************/

#occams-form-editor {
    border-bottom: 1px dotted #CCC;
    border-top: 1px dotted #CCC;
    cursor: default;
    position: relative;
    overflow: hidden;
    width: 100%;
}

#occams-form-main {
	margin-top: 1em;
    margin-right: 250px;
}

#occams-form-aux {
	margin-top: 1em;
    position: absolute;
    right:0;
    top: 0;
    width: 250px;
}

#occams-form-inputs,
#occams-form-fieldsets {
    margin-right: 1em;
}

/*******************************************************************************
 * ITEM 
 ******************************************************************************/

.occams-form-item {
	position: relative;
	margin-bottom: 1em;
}

.occams-form-item  > .occams-form-moveable {
    background-color: #DDD;
    height: 100%;
    left: 0;
    position: absolute;
    text-indent: -90001px;
    top: 0;
    width: 1em;
}

.occams-form-item  > .occams-form-container {
	border-left: 1px solid #FFF;
	margin-left: 1em;
}

.occams-form-item > .occams-form-container > .occams-form-head {
    background-color: #DDD;
	border-bottom: 1px solid #EFEFEF;
	color: #666;
	font-size: 85%;
	font-weight: bold;
	overflow: hidden;
	position: relative;
}

.occams-form-item .occams-form-metadata {
	margin-right: 72px;
    padding: 0.1em 0;
	overflow: hidden;
}

.occams-form-item .occams-form-title {
	float: left;
	overflow: hidden;
}

.occams-form-item .occams-form-version {
	float: right;
	padding-right: 1em;
	overflow: hidden;
}

.occams-form-item .occams-form-controls {
	position: absolute;
	right: 0;
	top: 0;
}
 
.occams-form-item .occams-form-controls ul {
	list-style: none;
	margin: 0 !important;
	overflow: hidden;
	padding: 0;
}

.occams-form-item .occams-form-controls li {
	float: left;
	margin: 0 !important;
    padding: 2px 4px;
}

.occams-form-item .occams-form-controls a {
	border: inherit !important;
	display: block;
	height: 16px;
	line-height: 16px;
	text-indent: -90001px;
	width: 16px;
}

.occams-form-item .occams-form-controls .occams-form-collapseable {
    background: url(++resource++occams.form/images/pencil.png);
}

.occams-form-item .occams-form-controls .occams-form-editable {
	background: url(++resource++occams.form/images/pencil.png);
}

.occams-form-item .occams-form-controls .occams-form-deleteable {
	background: url(++resource++occams.form/images/delete.png);
}

.occams-form-item .occams-form-content {
	background-color: #EEE;
    padding: 0.8em;
}

.occams-form-item .occams-form-content .occams-form-edit {
	display: none;
}

.boolean, .date, .datetime, .decimal, .integer, .object, .string, .text {
    background-position: 1% 50%;
    background-repeat: no-repeat;
    padding-left: 2em;
}

.boolean {
    background-image: url(++resource++occams.form/images/tick.png);
}

.date {
    background-image: url(++resource++occams.form/images/calendar.png);
}

.datetime {
    background-image: url(++resource++occams.form/images/time.png);
}

.decimal {
    background-image: url(++resource++occams.form/images/calculator.png);
}

.integer {
    background-image: url(++resource++occams.form/images/calculator.png);
}

.object {
    background-image: url(++resource++occams.form/images/table.png);
}

.string {
    background-image: url(++resource++occams.form/images/textfield.png);
}

.text {
    background-image: url(++resource++occams.form/images/page_white_text.png);
}

/*******************************************************************************
 * TOOLBOX
 ******************************************************************************/

#occams-form-aux h3 {
	background-color: #205C90;
	color: #fff;
	font-size: 1em;
	margin: 0;
	padding: 1% 2%;
	text-align: center;
}

#occams-form-new ul {
	background: #EEE;
	list-style: none;
	margin: 0;
	padding: 0.4em;
}

#occams-form-new li {
    margin: 0;
}

#occams-form-new .occams-form-moveable {
    display: none;
}

#occams-form-new .occams-form-container {
    margin-left: 0;
}

#occams-form-new .occams-form-controls,
#occams-form-new .occams-form-content {
	display: none;
}

/*******************************************************************************
 * FIELDSET
 ******************************************************************************/

.occams-form-fieldset > .occams-form-moveable,
.occams-form-fieldset > .occams-form-container > .occams-form-head {
    background-color: #BFBFB0;
}

.occams-form-fieldset > .occams-form-container > .occams-form-content{
    background: #FFFFE3;
    min-height: 5em;
}

/*******************************************************************************
 * FIELD
 ******************************************************************************/
 
.occams-form-field:last-child {
    margin-bottom: 0;
}

.occams-form-field .occams-form-collapseable {
    display: none;
}
