.portaltype-occams-form-repository .listing .option {
    /* Disable CRUD-form's select box from rendering as a block, otherwise
     * all following rows will have an empty bottom line.
     */
    display: inline;
}

.portaltype-occams-form-repository .listing .header-select {
    /* Remove select label in header table for CRUD forms */
    display: none;
}

.portaltype-occams-form-repository table.listing tbody td {
    background: inherit !important;
}

.portaltype-occams-form-repository table.listing tbody tr:hover {
	/* Visual helper for listing rows so we know which one we're selecting */
    background-color: #CCC;
}

.portaltype-occams-form-repository .listing a[href*="@@view"] span{
    background: center center no-repeat url(++resource++occams.form/images/magnifier.png);
    border: inherit !important;
    display: block;
    height: 16px;
    line-height: 16px;
    text-indent: -9001em;
    width: 16px;
}

.portaltype-occams-form-repository .listing a[href*="@@edit"] span{
    background: center center no-repeat url(++resource++occams.form/images/pencil.png);
    border: inherit !important;
    display: block;
    height: 16px;
    line-height: 16px;
    text-indent: -9001em;
    width: 16px;
}


.portaltype-occams-form-repository .listing .is_current {
   background: center center no-repeat url(++resource++occams.form/images/star_gold.png);
   display: inline-block;
   height: 16px;
   line-height: 16px;
   text-indent: -9001em;
   width: 16px;
}

.published {
   color: green;
}

.review {
   color: orange;
}

.retracted {
   color: DarkGray;
}

.draft {
   color: red;
}

.current {
    font-weight: bold;
}

.crud-form {
    clear: both;
    margin-bottom: 4em;
}

.crud-form .action {
    float: left;
    margin: 10px;
}