#toolbar {
  /* Use bootstrap's <h1> line-height */
  line-height: 60px;
  vertical-align: middle;
  }

#modal-container form {
  /* Disable form margins inside the modal container so
   * that we don't get unwanted whitespace
   */
  margin: 0;
}

