.page-header .nav-header {
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
  margin-bottom: -9px;
}

.page-header .nav-header li {
  display: inline-block;
}

.page-header .nav-header .active a {
  color: #333;
  font-weight: bold;
  margin-bottom: -3px;
  border-bottom: 3px solid #ccc;
}
