################################################################################
# Project Buildout Settings
################################################################################

#
# Extend the master environment file
#
[buildout]
extends = https://raw.github.com/beastcore/project.buildout/master/environment.cfg

#
# Specify eggs to be tested as part of the project
#
[settings]
test-packages =
    occams.form [postgresql,test]

[versions]
SQLAlchemy = 0.7.8
#
# mr.developer egg sources for in-house eggs
#
[sources]
occams.datastore = git git@github.com:beastcore/occams.datastore.git branch=master

