#
# Production requirements
#

alembic
celery[redis]<4.0.0
cssmin
gevent
gunicorn
humanize
psycopg2
python-dateutil
python-magic
python-slugify
pyramid
pyramid_chameleon
pyramid_exclog
pyramid_tm
pyramid_redis_sessions
pyramid_redis
pyramid_webassets
pyramid_who
repoze.who>=2.3.0
six
SQLAlchemy
tabulate
wtforms
wtforms-json
wtforms-components
zope.sqlalchemy
