### Forks

# repoze.who has a bug that was fixed but has yet to be published, so we
# install directly from their github repository.
-e git+https://github.com/repoze/repoze.who@master#egg=repoze.who
-e git+https://github.com/m-martinez/who_ldap@userdata_dict#egg=who_ldap


### In-house

# ---> UPDATE THESE <----
-e /path/to/occams.datastore[test]
-e /path/to/occams.accounts[test]
-e /path/to/occams.forms[test,ldap,gunicorn,postgresql]
-e /path/to/occams.roster[test]
-e /path/to/occams.studies[test,ldap,gunicorn,postgresql]
