#
# Developer-specific packages
#

-r ./requirements.txt

# Documentation
Sphinx==2.4.*
sphinx-autobuild==0.7.*

# Interactive debugging
pyramid_debugtoolbar==4.6.*

# Unit tests
pytest==5.4.*
pytest-cov==2.8.*
pytest-factoryboy==2.0.*
pytest-profiling==1.7.*
factory-boy==2.12.*
Faker==4.0.*
WebTest==2.0.*
beautifulsoup4==4.8.*
mock==4.0.*

# Developer-managed accounts
who_dev==0.0.*
