#
# Developer-specific packages
#

-r ./requirements.txt

# Documentation
sphinx
sphinx-autobuild

# Interactive debugging
pyramid_debugtoolbar

# Unit tests
pytest
pytest-cov
fake-factory
WebTest
beautifulsoup4
mock

# Developer-managed accounts
who_dev>=0.0.2
