/**
 * Navigation components
 */


@nav-header-bg:            #f8f8f8;
@nav-header-border-color:  @nav-tabs-border-color;
@nav-header-active-bg:     @component-active-bg;
@nav-header-active-color:  @text-color;


/**
 * Specialized navigation for content headers
 */
.nav-header {
  background-color:  @nav-header-bg;
  border-top:        1px solid @nav-header-border-color;
  margin-bottom:     -9px;

  li {
    display: inline-block;
  }

  .active a {
    color:          @text-color;
    font-weight:    bold;
    padding-bottom: 7px; // bootstrap uses 10px for bottom padding
    border-bottom:  3px solid @nav-header-active-bg;
  }
}

.sidebar {

  .nav {
    > li > a {
      padding: 4px 10px;
    }

    .active {
      font-weight: bold;
      border-right: 4px @component-active-bg solid;
    }
  }

  a.back-to-top {
    border-top: 1px solid @gray-lighter;
    font-weight: bold;
    display: block;
    padding: 4px 10px;
  }

}
